html{
    max-width: 100%;
    margin: 0px;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
body{
    max-width: 100%;
}
.fluff{
    min-height: 1080px;
}
.park{
    min-height: 1080px;
    background: url("/images/park.jpeg") no-repeat center;
    background-size: cover;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 400ms ease-in;
}
.park h1{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 300px;
    font-weight: 800;
    font-size: 500%;
}
.park h3{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 800;
    font-size: 400%;
}
.park-animate{
    opacity: 1;
}
.fly-in-text{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li{
    display: inline-block;
    color: white;
    font-family: Open Sans, Arial;
    font-weight:100;
    font-size: 4em;
    left:50px;
    margin-right:50px;
    opacity: 1;
    transition: all 2.5s ease;
}
.fly-in-text li:last-child{
    margin-right: 0px;
}
.fly-in-text.hidden li{
    opacity: 0;
}
.fly-in-text.hidden li:nth-child(1){transform: translateX(-200px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(2){transform: translateX(20px) translateY(100px);}
.fly-in-text.hidden li:nth-child(3){transform: translateX(-150px) translateY(-80px);}
.fly-in-text.hidden li:nth-child(4){transform: translateX(10px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(5){transform: translateX(-300px) translateY(200px);}
.fly-in-text.hidden li:nth-child(6){transform: translateX(20px) translateY(-20px);}
.fly-in-text.hidden li:nth-child(7){transform: translateX(30px) translateY(200px);}

.bubbles{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    z-index: -1;
    transform: translateZ(0);
}
.bubbles li{
    border-radius: 100%;
    position: absolute;
    list-style: none;
    display: block;
    background-color: limegreen;
    bottom: -350px;
    animation: square 20s infinite;
    transition-timing-function: linear;
}
.bubbles li:nth-child(1){
    width:40px;
    height: 40px;
    left:20%;
}
.bubbles li:nth-child(2){
    width:60px;
    height: 60px;
    left:40%;
    animation-delay: 2s;
    animation-duration: 17s;
}
.bubbles li:nth-child(3){
    width:10px;
    height: 10px;
    left:60%;
    animation-delay: 4s;
    animation-duration: 13s;
}
.bubbles li:nth-child(4){
    width:80px;
    height: 80px;
    left:80%;
    animation-delay: 1s;
    animation-duration: 22s;
}
.bubbles li:nth-child(5){
    width:50px;
    height: 50px;
    left:30%;
    animation-delay: 7s;
    animation-duration: 12s;
}
/*Background bubbles starts*/
.bubbles li:nth-child(6){
    background-color: palegreen;
    opacity: .7;
    width:40px;
    height: 40px;
    left:80%;
    animation-delay: 1s;
    animation-duration: 15s;
}
.bubbles li:nth-child(7){
    background-color: palegreen;
    opacity: .7;
    width:30px;
    height: 30px;
    left:55%;
    animation-delay: 2s;
    animation-duration: 12s;
}
.bubbles li:nth-child(8){
    background-color: palegreen;
    opacity: .7;
    width:10px;
    height: 10px;
    left:12%;
    animation-delay: 3s;
    animation-duration: 13s;
}
.bubbles li:nth-child(9){
    background-color: palegreen;
    opacity: .7;
    width:80px;
    height: 80px;
    left:45%;
    animation-delay: 4s;
    animation-duration: 25s;
}
.bubbles li:nth-child(10){
    background-color: palegreen;
    opacity: .7;
    width:50px;
    height: 50px;
    left:5%;
    animation-delay: 10s;
    animation-duration: 12s;
}
/*Background bubbles end*/
@keyframes square{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-1450px) /*rotate(630deg)*/;
    }
}
.button{
    color:white;
    background-color: palegreen;
    width: 24%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.hvr-radial-in:before {
    background-color: dimgrey;
    color:white;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: black;
}
a{
    text-decoration: none;
}
.menu{
    background-color: black;
    padding-right: 0;
    padding-left: 0;
    display: inline-block;
    align-items: center;
    width: 100%;
}
.pup{
    max-width: 50%;
    border-radius: 100%;
    float: right;
}
.desc{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    margin: 10px 10px 10px 10px;
    font-size: 200%;
    clear: left;
}
.desc p{
    padding-top: 5%;
}
.sun{
    max-width: 10%;
    
}
.fluff2{
    background-color: black;
    padding-bottom: 10%;
}